  <div class="container text-center">
    <form class="row" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="col"></div>
      <div class="col align-self-start">
        <i class="bi bi-file-lock2-fill tamanhoFontCadeado"></i>
        <h1 class="h3 mb-3 fw-normal">LOGIN</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
          <label for="email">Email</label>
          {{formLogin.get('email')?.status}}
        </div>
        <div class="form-floating  mt-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="senha">
          <label for="floatingPassword">Senha</label>
          {{formLogin.get('senha')?.status}}
        </div>

        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Logar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
      </div>
      <div class="col"></div>
    </form>
  </div>
